@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #000;
}

.header{
  color: white;
  font-weight: bold;
}

.container{
  width: 100vw;
  overflow-x: clip;
}

.aspect_big{
  aspect-ratio: 960/540;
}

.aspect_small{
  aspect-ratio: 450/900;
}

.dessert{
  width: 100%;
  position: absolute;
  bottom: 0;
}